.interna_contato {
  background: url("../img/contato.jpg") no-repeat center;
  background-size: cover;
}
/*
.missao_contato {
  padding-top: 60px;
}
.missao_contato p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 0.1em;
  padding-right: 40px;
}

.missao_contato ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 30px;
}

.foto_equipe {
  padding-top: 20px;
}
*/

/*FORMULÁRIO*/
/*ORÇAMENTO COPIADO DE PRODUTOS*/
.contato_section {
  padding: 40px 0;
}

.contato_form {
  padding-right: 60px;
}
.contato_form label {
  display: block;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.contato_form input {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background: none;
  color: #555;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", serif;
}

.contato_form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid #fec63e;
  background: none;
  color: #555;
  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", serif;
}

.contato_form button {
  padding: 7px 40px;
  background: none;
}

.contato_dados h3 {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fec63e;
}

.contato_dados span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", serif;
}

.contato_dados span:nth-of-type(even) {
  margin-bottom: 30px;
}

.contato_dados ul {
  margin-top: 10px;
}
.contato_dados ul li {
  display: inline-block;
  margin-right: 10px;
}

.contato_dados ul li a {
  border: 3px solid #fec63e;
  display: block;
  padding: 10px;
}

.contato_dados ul li a:hover {
  border-color: #000;
}

.contato_mapa {
  margin-bottom: 60px;
}
